body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url(https://media.discordapp.net/attachments/1174622636337274923/1199333480425848884/DALLE_2024-01-23_00.55.38_-_Images_featuring_textual_elements_in_various_colors_covering_the_entire_image_without_any_side_bands_or_distinct_background._The_design_should_create.png?ex=65c22958&is=65afb458&hm=50d2b4d25ad4275a63be708bba4ca447a5a8244c6084cdfb7a3b2be9f2707054&=&format=webp&quality=lossless&width=546&height=956);
    background-size: cover ;
    color: white;
    padding: 0;
    width: 20%;
    text-align: left;
}

main {

    flex: 1;
    padding: 0px;
    background-color: #e6e8ed;

}

nav {
    background-color: #21232d;
    color: #ffffff;
    padding: 10px;
}

h1, h2{
    text-align: center;
}

form {
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 15%;
    border: 2px solid black ;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10%;
}
.button_index{
width: 150px;
height: 30px;
background: #00A551;
border-radius: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #FFFFFF;
}




